*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

a{
    text-decoration: none;
    display: inline-block;
}


/* header start */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#navbarSupportedContent li{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}
#navbarSupportedContent ul li a{
    color: #944bff;
    padding: 25px;
}
#navbarSupportedContent ul li a:hover{
    color: #ff39dc;
}
.container button{
    margin-left: 20px;
}

.login_btn{
    padding: 8px 40px;
    border-radius: 5px;
    border-bottom: solid 8px #3a0090    ;
    background: linear-gradient(to bottom right, #570dc8, #9e4efc);
}
.login_btn a{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
    line-height: 50px;

}
.sign_btn a{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
    line-height: 50px;

}

.sign_btn{
    padding: 8px 40px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: solid 8px #661355;
    background: linear-gradient(to bottom right, #a60084, #ff39dc);
}


/* header end */


/* banner part start */

#slider_part{
    padding: 200px 0;
    background-color: #150035;
    position: relative;
}

.text{
    padding-left: 100px;
    
}
.text p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.text h1{
    font-size: 332px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fb36d8;
    line-height: 280px;
    
}
.text h3{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 50px;
    
}

button{
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    border-bottom: solid 8px #3a0090;
    background: linear-gradient(to bottom right, #570dc8, #9e4efc);
    
}

button a {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
    line-height: 50px;
    
}

/* banner part end */


/* STEP PART START */
#step_part_items{
    position: relative;
  
}

.step_part_data{
    position: absolute; 
    bottom: -25%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  
}

.card{
    padding: 50px 50px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);  

}

.card h1{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #ffdc28; 
    
}
.card h3{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #fff; 
    padding-top: 30px;
    padding-bottom: 20px;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #fff; 
}

/* STEP PART END */


/* GAMES PART START */
#games_part{
    padding-top: 180px;
    padding-bottom: 100px;
    background: #0b001b;
}

.heading_text h3{
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #ffdc28; 

}

.games_card{
    /* width: 100%; */
    /* height: 100%; */
}


/* GAMES PART END */

/* UNLOCK PART START */
#unlock_part{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #150035;
}

.tas_text h3{
    padding: 50px 0;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #ffdc28;
}
.tas_text p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 26px;
    padding-bottom: 50px;
}

/* UNLOCK PART END */


/* PRICING PART START */
#pricing_part{
    padding: 100px 0;
    background: #0b001b;
    position:relative;
}

.Pricing_heading h3{
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #ffdc28;
}

.price_one{
    padding: 100px 0;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    margin-top: 35px;
    
}

.price_one h1{

    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
}
.price_one h3{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.price_one p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.line{
    height: 1px;
    width: 100%;
    background:#0b001b;
    margin-top: 30px;
}

.second_para p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 40px;
}
.one_price_button a{
    padding: 20px 40px;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 2px;
    color:#fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    border-bottom: 8px solid #3a0090;
    position: absolute;
    left: 22%;
    bottom: 170px;
}

/* price_card two */

.price_two{
    padding: 100px 0;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    
}

.price_two h1{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
}
.price_two h3{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.price_two p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.line{
    height: 1px;
    width: 100%;
    background:#0b001b;
    margin-top: 30px;
}

.second_para p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 40px;
}
.sec_price_button a{
    padding: 20px 40px;
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-radius: 2px;
    color:#fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    border-bottom: 8px solid #661355;
    position: relative;
    left: 25%;
    bottom: 40px;
    z-index: 999;

}

.Featured{
    padding: 20px 0;
    border-bottom: 5px solid #661355;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
}
.Featured h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}




.price_three{
    padding: 100px 0;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    margin-top: 35px;
    
}

.price_three h1{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
}
.price_three h3{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.price_three p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.line{
    height: 1px;
    width: 100%;
    background:#0b001b;
    margin-top: 30px;
}

.second_para p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 40px;
}
.three_price_button a{
    padding: 20px 40px;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 2px;
    color:#fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    border-bottom: 8px solid #3a0090;
    position: relative;
    left: 25%;
    bottom: 40px;
    z-index: 999;

}

/* PRICING PART END */