*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

a{
    text-decoration: none;
    display: inline-block;
}


/* header start */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#navbarSupportedContent li{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}
#navbarSupportedContent ul li a{
    color: #944bff;
    padding: 25px;
}
#navbarSupportedContent ul li a:hover{
    color: #ff39dc;
}
.container button{
    margin-left: 20px;
}

.nav_btn{
    margin-left: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    border-bottom: solid 8px #3a0090;
    background: linear-gradient(to bottom right, #570dc8, #9e4efc);
}

.nav_btn a{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color:#fff;
}

.nav_btn:hover{
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-bottom: 8px solid #661355;
}



/* header end */


/* banner part start */

#slider_part{
    padding-top: 200px;
    background-color: #150035;
    position: relative;
}

.text{
    padding-left: 100px;
    
}
.text p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.text h1{
    font-size: 332px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fb36d8;
    line-height: 280px;
    
}
.text h3{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 50px;
    
}
.button{
    text-align: center;
    margin-top: 30px;
}

.text a{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color:#fff;
    padding: 15px 40px;
    border-radius: 5px;
    border-bottom: solid 8px #3a0090;
    background: linear-gradient(to bottom right, #570dc8, #9e4efc);
}

.text a:hover{
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-bottom: 8px solid #661355;
}


/* banner part end */


/* STEP PART START */

.step_part_items{
   position: relative; 
    top: 100px;
}

.step_part_data{
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);  
    border-radius: 5px;
}

.card{
    padding: 50px 50px;
    border: none;
    border-left: 2px solid #3a0090;
    background: none;  

}

.card h1{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #ffdc28; 
    
}
.card h3{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #fff; 
    padding-top: 30px;
    padding-bottom: 20px;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #fff; 
}

/* STEP PART END */


/* GAMES PART START */
#games_part{
    padding-top: 180px;
    padding-bottom: 100px;
    background: #0b001b;
}

.heading_text h3{
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #ffdc28; 
}

.games_card{
    position: relative;
    
}

.game_overly h3{
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #fff; 

}

.game_overly a{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color:#fff;
    padding: 15px 40px;
    border-radius: 5px;
    border-bottom: solid 8px #3a0090;
    background: linear-gradient(to bottom right, #570dc8, #9e4efc);
    
}
.game_overly a:hover{
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-bottom: 8px solid #661355;
}


.game_overly{
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(264, 100%, 10%, 0.7);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    text-align: center;
    padding-top: 40%;
}

.games_card:hover .game_overly{
    visibility: visible;
    opacity: 1;
}


/* GAMES PART END */

/* UNLOCK PART START */
#unlock_part{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #150035;
}

.tas_text h3{
    padding: 50px 0;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #ffdc28;
}
.tas_text p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 26px;
    padding-bottom: 50px;
}

.tas_button a{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color:#fff;
    padding: 15px 40px;
    border-radius: 5px;
    border-bottom: solid 8px #3a0090;
    background: linear-gradient(to bottom right, #570dc8, #9e4efc);
}
.tas_button a:hover{
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-bottom: 8px solid #661355;
}

/* UNLOCK PART END */


/* PRICING PART START */

#pricing_part{
    padding: 100px 0;
    background: #0b001b;
    position:relative;
}

.Pricing_heading h3{
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #ffdc28;
}

.price_one{
    padding: 100px 0;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    margin-top: 35px;
    
}

.price_one h1{

    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
}
.price_one h3{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.price_one p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.line{
    height: 1px;
    width: 100%;
    background:#0b001b;
    margin-top: 30px;
}

.second_para p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 40px;
}
.one_price_button a{
    padding: 15px 40px;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    color:#fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    border-bottom: 8px solid #3a0090;
    position: absolute;
    left: 22%;
    bottom: 170px;
}
.one_price_button a:hover{
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-bottom: 8px solid #661355;
    
}

/* price_card two */

.price_two{
    padding: 100px 0;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    
}

.price_two h1{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
}
.price_two h3{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.price_two p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.line{
    height: 1px;
    width: 100%;
    background:#0b001b;
    margin-top: 30px;
}

.second_para p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 40px;
}
.sec_price_button a{
    padding: 15px 40px;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    color:#fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    border-bottom: 8px solid #3a0090;
    position: relative;
    left: 25%;
    bottom: 40px;
    z-index: 999;

}
.sec_price_button a:hover{
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-bottom: 8px solid #661355;

}

.Featured{
    padding: 20px 0;
    border-bottom: 5px solid #661355;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
}
.Featured h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}




.price_three{
    padding: 100px 0;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    margin-top: 35px;
    
}

.price_three h1{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
}
.price_three h3{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.price_three p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.line{
    height: 1px;
    width: 100%;
    background:#0b001b;
    margin-top: 30px;
}

.second_para p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 40px;
}
.three_price_button a{
    padding: 15px 40px;
    background: linear-gradient(to bottom right, #9e4efc, #570dc8);
    border-radius: 5px;
    color:#fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: 'Anton', sans-serif;
    border-bottom: 8px solid #3a0090;
    position: relative;
    left: 25%;
    bottom: 40px;
    z-index: 999;

}
.three_price_button a:hover{
    background: linear-gradient(to bottom right, #ff39dc, #a60084);
    border-bottom: 8px solid #661355;

}

/* PRICING PART END */


/* QUESTION PART START */
#question_part{
    padding: 100px 0;
    background: #150035;
}

.left_text_line{
    padding: 1px 0;
    background: #0b001b;
    margin-top: 30px;
    margin-bottom: 50px;
}

.left_text h1{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #ffdc28;
}
.left_text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 80px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    padding-left: 20px;
}

.question_four{
    padding: 20px 20px;
    border: 1px solid #fcb100;
}


.paragraph_one{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    
}

/* RIGHT TEXT PART */
.right_text_line{
    padding: 1px 0;
    background: #0b001b;
    margin-top: 30px;
    margin-bottom: 50px;
}

.right_text h1{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #ffdc28;
}

.time_text h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.hour{
    border: 1px solid #fcb100;
    border-radius: 5px;
    padding: 20px 20px;
}
.hour h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fcb100;
}
.min{
    border: 1px solid #fcb100;
    border-radius: 5px;
    padding: 20px 20px;
}
.min h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fcb100;
}
.secs{
    border: 1px solid #fcb100;
    border-radius: 5px;
    padding: 20px 20px;
}
.secs h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fcb100;
}


.row_one_text p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.price p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.flag_part_one{
    padding: 20px 0;
    border-bottom: 1px solid #0b001b;
}
.flag_part_last{
    padding: 20px 0;
}

/* QUESTION PART END */

/* SUBSCRIBE PART START */
#subscribe_part{
    padding: 30px 0;
    border-bottom: 8px solid #3a0090;
    background-image: linear-gradient(#9e4efc, #570dc8);
}

.input_field{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
    padding-bottom: 20px;
}


.subscribe_field input{
    background: none;
    border: 1px solid #0b001b;
    padding: 5px 30px;

}

.Payment_Method_sec{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
    padding-bottom: 20px; 
}

.Payment_logo img{
    padding-left: 10px;
}

/* SUBSCRIBE PART END */


/* FOOTER PART START */

#footer_part{
    padding: 50px 0;
    background: #0b001b;
}

.about h3{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
}
.about p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    padding: 30px 0;
}

.social_icon img{
    padding-right: 10px;
}


.links h3{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
}

.link_list{
    padding-top: 30px;
}

.link_list ul li a{
    list-style: none;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.Security_Info h3{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: #fff;
}

.option{
    padding-top: 30px;
    display: flex;
    
}

.option_text p{
    padding-top: 20px;
    padding-left: 50px;
    line-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

}


/* FOOTER PART END */


/* FOOTER COPYRIGHT START */
#copyright_part{
    padding: 15px 0;
    background: #0b001b;
    border-top: 1px solid #6116d2;
}

.content p{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-align: center;  

}
/* FOOTER COPYRIGHT END */

